@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,400,700|Raleway:100,400,700&display=swap');

p, body, li, span, button {
    color: #353831;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 28px;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: -1.6px;
}

h3 {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1.3px;
    @apply text-light uppercase;
}

#main-content {
    overflow-y: scroll;
}

.button {
    @apply text-white bg-main px-3 py-1 rounded;

    &:hover {
        @apply shadow-light;
    }
}

.list {
    @apply mb-6 pr-6;

    &__header {
        @apply flex items-center mb-3;

        span {
            border-bottom: 1px solid #848C8E;
            @apply py-1;
        }
    }

    &__item {
        @apply flex items-center py-1;

        &:not(:last-child) {
            border-bottom: 1px solid #d0d0d0;
        }

        &:hover {
            cursor: pointer;
            background-color: #f7f7f7;
        }
    }

    &__item--active {
        @apply flex items-center py-1;
        background-color: #f7f7f7;
        border-bottom: 1px solid #01BAEF;

        &:hover {
            cursor: pointer;
            background-color: #f7f7f7;
        }
    }
}

.form {

    input {
        @apply px-3 py-1;
        border-bottom: 1px solid #848C8E;

        &:focus {
            outline: none;
            border-bottom-width: 2px;
        }
    }

    textarea {
        @apply w-full p-3;
        border-bottom: 1px solid #848C8E;

        &:focus {
            outline: none;
            border-bottom-width: 2px;
        }
    }

    &__header {
        font-size: 28px;
        line-height: 1.6;
        font-weight: 700;
        letter-spacing: -1.6px;
    }

    &__subheader {
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 1.3px;
        @apply text-light;
    }

    &__control {
        @apply mb-3 flex items-center;
    }

    &__label {
        @apply text-light uppercase mr-3 w-1/5;
        font-weight: 100;
    }

    &.form--full {
        input {
            @apply block w-full;
        }
    }

    &.form--inline {
        @apply flex;

        input {
            @apply mr-3;
        }
    }
}